<a href="https://colab.research.google.com/github/mananparmar95/Analysis-Exploration-of-PokemonDataset/blob/master/Pokemon_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Pokemon.csv to Pokemon.csv

In [0]:
#1] Data Analysis 
#read data into memory --> pokemon dataset
pokemon = pd.read_csv("Pokemon.csv")
pokemon

       #                       Name    Type 1  ... Speed  Generation  Legendary
0      1                  Bulbasaur     Grass  ...    45           1      False
1      2                    Ivysaur     Grass  ...    60           1      False
2      3                   Venusaur     Grass  ...    80           1      False
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
4      4                 Charmander      Fire  ...    65           1      False
5      5                 Charmeleon      Fire  ...    80           1      False
6      6                  Charizard      Fire  ...   100           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
9      7                   Squirtle     Water  ...    43           1      False
10     8                  Wartortle     Water  ...    58           1      False
11     9                  Blastoise     Water  ...    78           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
13    10                   Caterpie       Bug  ...    45           1      False
14    11                    Metapod       Bug  ...    30           1      False
15    12                 Butterfree       Bug  ...    70           1      False
16    13                     Weedle       Bug  ...    50           1      False
17    14                     Kakuna       Bug  ...    35           1      False
18    15                   Beedrill       Bug  ...    75           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
20    16                     Pidgey    Normal  ...    56           1      False
21    17                  Pidgeotto    Normal  ...    71           1      False
22    18                    Pidgeot    Normal  ...   101           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
24    19                    Rattata    Normal  ...    72           1      False
25    20                   Raticate    Normal  ...    97           1      False
26    21                    Spearow    Normal  ...    70           1      False
27    22                     Fearow    Normal  ...   100           1      False
28    23                      Ekans    Poison  ...    55           1      False
29    24                      Arbok    Poison  ...    80           1      False
..   ...                        ...       ...  ...   ...         ...        ...
770  700                    Sylveon     Fairy  ...    60           6      False
771  701                   Hawlucha  Fighting  ...   118           6      False
772  702                    Dedenne  Electric  ...   101           6      False
773  703                    Carbink      Rock  ...    50           6      False
774  704                      Goomy    Dragon  ...    40           6      False
775  705                    Sliggoo    Dragon  ...    60           6      False
776  706                     Goodra    Dragon  ...    80           6      False
777  707                     Klefki     Steel  ...    75           6      False
778  708                   Phantump     Ghost  ...    38           6      False
779  709                  Trevenant     Ghost  ...    56           6      False
780  710      PumpkabooAverage Size     Ghost  ...    51           6      False
781  710        PumpkabooSmall Size     Ghost  ...    56           6      False
782  710        PumpkabooLarge Size     Ghost  ...    46           6      False
783  710        PumpkabooSuper Size     Ghost  ...    41           6      False
784  711      GourgeistAverage Size     Ghost  ...    84           6      False
785  711        GourgeistSmall Size     Ghost  ...    99           6      False
786  711        GourgeistLarge Size     Ghost  ...    69           6      False
787  711        GourgeistSuper Size     Ghost  ...    54           6      False
788  712                   Bergmite       Ice  ...    28           6      False
789  713                    Avalugg       Ice  ...    28           6      False
790  714                     Noibat    Flying  ...    55           6      False
791  715                    Noivern    Flying  ...   123           6      False
792  716                    Xerneas     Fairy  ...    99           6       True
793  717                    Yveltal      Dark  ...    99           6       True
794  718           Zygarde50% Forme    Dragon  ...    95           6       True
795  719                    Diancie      Rock  ...    50           6       True
796  719        DiancieMega Diancie      Rock  ...   110           6       True
797  720        HoopaHoopa Confined   Psychic  ...    70           6       True
798  720         HoopaHoopa Unbound   Psychic  ...    80           6       True
799  721                  Volcanion      Fire  ...    70           6       True

[800 rows x 13 columns]

In [0]:
#index starts at 0 and stop at 800. Thus 800 records --> Using .index attribute
pokemon.index

RangeIndex(start=0, stop=800, step=1)

In [0]:
#800 records & 13 columns --> Using .shape attribute
pokemon.shape

(800, 13)

In [0]:
pokemon.get_dtype_counts()
#Count of all datatypes is shown below

int64     9
bool      1
object    3
dtype: int64

In [0]:
#display few starting records
pokemon.head(10)

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 13 columns]

In [0]:
#display few ending records
pokemon.tail(8)

       #                 Name   Type 1  ... Speed  Generation  Legendary
792  716              Xerneas    Fairy  ...    99           6       True
793  717              Yveltal     Dark  ...    99           6       True
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[8 rows x 13 columns]

In [0]:
#Dataframe or Series?
type(pokemon)

pandas.core.frame.DataFrame

In [0]:
#What is a series? --> 1D object
type(pokemon["Name"])

pandas.core.series.Series

In [0]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [0]:
pokemon["Type 2"].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Ghost       14
Ice         14
Rock        14
Water       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [0]:
#using .fillna() to get the count of NaN in Type 2
pokemon["Type 2"].fillna("NoType", inplace = True)
#index 4 displays Type 2 --> NoType
pokemon.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [0]:
#Now count the values of Type2, it should display the total count of NoType
pokemon["Type 2"].value_counts()

NoType      386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ghost        14
Ice          14
Rock         14
Water        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: Type 2, dtype: int64

In [0]:
"""2] Data Exploration
Summary of the dataframe Pokemon"""

pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        800 non-null object
Total         800 non-null int64
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [0]:
#How many null values are there?
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [0]:
#How many legendary pokemons are there?
pokemon["Legendary"].sum()

65

In [0]:
##total number of pokemons by generation
pokemon["Generation"].unique()

#6 generations

array([1, 2, 3, 4, 5, 6])

In [0]:
#Now the count of each Generation.
pokemon["Generation"].value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

In [0]:
#3] Logical Operations
pokemon[pokemon["HP"] >= 130]

       #                   Name    Type 1  ... Speed  Generation  Legendary
45    40             Wigglytuff    Normal  ...    45           1      False
121  113                Chansey    Normal  ...    50           1      False
142  131                 Lapras     Water  ...    60           1      False
145  134               Vaporeon     Water  ...    65           1      False
155  143                Snorlax    Normal  ...    30           1      False
217  202              Wobbuffet   Psychic  ...    33           2      False
261  242                Blissey    Normal  ...    55           2      False
313  289                Slaking    Normal  ...   100           3      False
321  297               Hariyama  Fighting  ...    50           3      False
350  320                Wailmer     Water  ...    60           3      False
351  321                Wailord     Water  ...    60           3      False
473  426               Drifblim     Ghost  ...    80           4      False
495  446               Munchlax    Normal  ...     5           4      False
544  487  GiratinaAltered Forme     Ghost  ...    90           4       True
545  487   GiratinaOrigin Forme     Ghost  ...    90           4       True
655  594              Alomomola     Water  ...    65           5      False

[16 rows x 13 columns]

In [0]:
pokemon[pokemon["HP"] == 64]

       #                 Name  Type 1  ... Speed  Generation  Legendary
317  293              Whismur  Normal  ...    28           3      False
386  354              Banette   Ghost  ...    65           3      False
387  354  BanetteMega Banette   Ghost  ...    75           3      False
436  391             Monferno    Fire  ...    81           4      False
439  394             Prinplup   Water  ...    50           4      False
569  510              Liepard    Dark  ...   106           5      False

[6 rows x 13 columns]

In [0]:
pokemon[pokemon["Name"] != "Whismur"]

       #                       Name    Type 1  ... Speed  Generation  Legendary
0      1                  Bulbasaur     Grass  ...    45           1      False
1      2                    Ivysaur     Grass  ...    60           1      False
2      3                   Venusaur     Grass  ...    80           1      False
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
4      4                 Charmander      Fire  ...    65           1      False
5      5                 Charmeleon      Fire  ...    80           1      False
6      6                  Charizard      Fire  ...   100           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
9      7                   Squirtle     Water  ...    43           1      False
10     8                  Wartortle     Water  ...    58           1      False
11     9                  Blastoise     Water  ...    78           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
13    10                   Caterpie       Bug  ...    45           1      False
14    11                    Metapod       Bug  ...    30           1      False
15    12                 Butterfree       Bug  ...    70           1      False
16    13                     Weedle       Bug  ...    50           1      False
17    14                     Kakuna       Bug  ...    35           1      False
18    15                   Beedrill       Bug  ...    75           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
20    16                     Pidgey    Normal  ...    56           1      False
21    17                  Pidgeotto    Normal  ...    71           1      False
22    18                    Pidgeot    Normal  ...   101           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
24    19                    Rattata    Normal  ...    72           1      False
25    20                   Raticate    Normal  ...    97           1      False
26    21                    Spearow    Normal  ...    70           1      False
27    22                     Fearow    Normal  ...   100           1      False
28    23                      Ekans    Poison  ...    55           1      False
29    24                      Arbok    Poison  ...    80           1      False
..   ...                        ...       ...  ...   ...         ...        ...
770  700                    Sylveon     Fairy  ...    60           6      False
771  701                   Hawlucha  Fighting  ...   118           6      False
772  702                    Dedenne  Electric  ...   101           6      False
773  703                    Carbink      Rock  ...    50           6      False
774  704                      Goomy    Dragon  ...    40           6      False
775  705                    Sliggoo    Dragon  ...    60           6      False
776  706                     Goodra    Dragon  ...    80           6      False
777  707                     Klefki     Steel  ...    75           6      False
778  708                   Phantump     Ghost  ...    38           6      False
779  709                  Trevenant     Ghost  ...    56           6      False
780  710      PumpkabooAverage Size     Ghost  ...    51           6      False
781  710        PumpkabooSmall Size     Ghost  ...    56           6      False
782  710        PumpkabooLarge Size     Ghost  ...    46           6      False
783  710        PumpkabooSuper Size     Ghost  ...    41           6      False
784  711      GourgeistAverage Size     Ghost  ...    84           6      False
785  711        GourgeistSmall Size     Ghost  ...    99           6      False
786  711        GourgeistLarge Size     Ghost  ...    69           6      False
787  711        GourgeistSuper Size     Ghost  ...    54           6      False
788  712                   Bergmite       Ice  ...    28           6      False
789  713                    Avalugg       Ice  ...    28           6      False
790  714                     Noibat    Flying  ...    55           6      False
791  715                    Noivern    Flying  ...   123           6      False
792  716                    Xerneas     Fairy  ...    99           6       True
793  717                    Yveltal      Dark  ...    99           6       True
794  718           Zygarde50% Forme    Dragon  ...    95           6       True
795  719                    Diancie      Rock  ...    50           6       True
796  719        DiancieMega Diancie      Rock  ...   110           6       True
797  720        HoopaHoopa Confined   Psychic  ...    70           6       True
798  720         HoopaHoopa Unbound   Psychic  ...    80           6       True
799  721                  Volcanion      Fire  ...    70           6       True

[799 rows x 13 columns]

In [0]:
#10 Pokemons with Lowest Attack power
poke = pokemon["Attack"]<50
pokemon[poke].sort_values(by = "Attack", ascending = False).head(10)

       #            Name   Type 1  ... Speed  Generation  Legendary
0      1       Bulbasaur    Grass  ...    45           1      False
506  456         Finneon    Water  ...    66           4      False
166  152       Chikorita    Grass  ...    45           2      False
746  678    MeowsticMale  Psychic  ...   104           6      False
469  422         Shellos    Water  ...    34           4      False
754  684         Swirlix    Fairy  ...    49           6      False
371  339        Barboach    Water  ...    60           3      False
747  678  MeowsticFemale  Psychic  ...   104           6      False
9      7        Squirtle    Water  ...    43           1      False
143  132           Ditto   Normal  ...    48           1      False

[10 rows x 13 columns]

In [0]:
#4]Indexing
#Set Index 
pokemon.set_index("Name" ,inplace = True)
pokemon.head()

                       # Type 1  Type 2  ...  Speed  Generation  Legendary
Name                                     ...
Bulbasaur              1  Grass  Poison  ...     45           1      False
Ivysaur                2  Grass  Poison  ...     60           1      False
Venusaur               3  Grass  Poison  ...     80           1      False
VenusaurMega Venusaur  3  Grass  Poison  ...     80           1      False
Charmander             4   Fire     NaN  ...     65           1      False

[5 rows x 12 columns]

In [0]:
#Reset Index
pokemon.reset_index(inplace = True)
pokemon.head()

                    Name  # Type 1  ... Speed  Generation  Legendary
0              Bulbasaur  1  Grass  ...    45           1      False
1                Ivysaur  2  Grass  ...    60           1      False
2               Venusaur  3  Grass  ...    80           1      False
3  VenusaurMega Venusaur  3  Grass  ...    80           1      False
4             Charmander  4   Fire  ...    65           1      False

[5 rows x 13 columns]

In [0]:
#loc --> Retriecing rows and cols using index label
#Filtering values using index 
pokemon.loc["Ditto"]

#--> Since there is only 1 count of Ditto it returns it in the form of a Series object

#                132
Type 1        Normal
Type 2           NaN
Total            288
HP                48
Attack            48
Defense           48
Sp. Atk           48
Sp. Def           48
Speed             48
Generation         1
Legendary      False
Name: Ditto, dtype: object

In [0]:
#Eg 1: Slicing using index label 
pokemon.loc["Bulbasaur":"Charmander"]

                       # Type 1  Type 2  ...  Speed  Generation  Legendary
Name                                     ...
Bulbasaur              1  Grass  Poison  ...     45           1      False
Ivysaur                2  Grass  Poison  ...     60           1      False
Venusaur               3  Grass  Poison  ...     80           1      False
VenusaurMega Venusaur  3  Grass  Poison  ...     80           1      False
Charmander             4   Fire     NaN  ...     65           1      False

[5 rows x 12 columns]

In [0]:
#Eg 2: Slicing using index label
pokemon.loc[:"Charmander"]

                       # Type 1  Type 2  ...  Speed  Generation  Legendary
Name                                     ...
Bulbasaur              1  Grass  Poison  ...     45           1      False
Ivysaur                2  Grass  Poison  ...     60           1      False
Venusaur               3  Grass  Poison  ...     80           1      False
VenusaurMega Venusaur  3  Grass  Poison  ...     80           1      False
Charmander             4   Fire     NaN  ...     65           1      False

[5 rows x 12 columns]

In [0]:
#iloc[] --> Retriecing rows and cols using index position
pokemon.iloc[0]

#                  1
Type 1         Grass
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Name: Bulbasaur, dtype: object

In [0]:
#iloc[] --> Retriecing rows and cols using index position
pokemon.iloc[0:5]

                       # Type 1  Type 2  ...  Speed  Generation  Legendary
Name                                     ...
Bulbasaur              1  Grass  Poison  ...     45           1      False
Ivysaur                2  Grass  Poison  ...     60           1      False
Venusaur               3  Grass  Poison  ...     80           1      False
VenusaurMega Venusaur  3  Grass  Poison  ...     80           1      False
Charmander             4   Fire     NaN  ...     65           1      False

[5 rows x 12 columns]

In [0]:
#iloc[] --> Retriecing rows and cols using index position
pokemon.iloc[:5]

                       # Type 1  Type 2  ...  Speed  Generation  Legendary
Name                                     ...
Bulbasaur              1  Grass  Poison  ...     45           1      False
Ivysaur                2  Grass  Poison  ...     60           1      False
Venusaur               3  Grass  Poison  ...     80           1      False
VenusaurMega Venusaur  3  Grass  Poison  ...     80           1      False
Charmander             4   Fire     NaN  ...     65           1      False

[5 rows x 12 columns]